<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %} {% endblock %}</title>

  <!-- Load template tags -->
  {% load staticfiles %} {% load current_site %} {% load flatpages %} {% get_flatpages '/about/' as about_pages %}
  <!-- gets about page, it returns a list so we need to iterate -->
  {% load social %} {% load analytics %}

  <link rel="icon" href="{% static 'blog/img/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'blog/img/apple-touch-icon.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'blog/img/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'blog/img/apple-touch-icon-114x114.png' %}">

  <link rel="stylesheet" href="{% static 'blog/css/skeleton.min.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/paper_mobile.min.css' %}">
  <link rel="publisher" href="{% google_plus_url %}" /> {% block headers %}
  <!-- Add headers in the child templates -->
  {% endblock %}

  <!-- scripts Google Analytics:
    - using ga-lite: smaller, cacheable subset of Google Analytics JS client
    - do not track localhost when debugging -->
  {% if not debug %}
  <script>
    (function (e, t, n, i, s, a, c) {
      e[n] = e[n] || function () { (e[n].q = e[n].q || []).push(arguments) }
        ; a = t.createElement(i); c = t.getElementsByTagName(i)[0]; a.async = true; a.src = s
        ; c.parentNode.insertBefore(a, c)
    })(window, document, "galite", "script", "https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");
    galite('create', '{% ga_tracking_id %}', 'auto');
    galite('send', 'pageview');
  </script> {% endif %}

  <!-- SEO: add link to social networks -->
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Blog",
    "name" : "miguelgfierro",
    "url" : "{% http_or_https %}{% current_site %}",
    "sameAs" : [
      "{% twitter_url %}",
      "{% google_plus_url %}",
      "{% linkedin_url %}"
    ]
  }
  </script>
</head>

<!-- Navigation bar -->
<header>
  <div class="navigation-bar">
    <div class="navigation-bar-container">
      <a class="navigation-bar-home" href="/"></a>
      <nav>
        <a href="#" id="menu-icon"></a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          {% for aboutp in about_pages %}
          <li>
            <a href="{{ aboutp.url }}">About</a>
          </li>
          {% endfor%}
          <li>
            <a href="https://feedburner.google.com/fb/a/mailverify?uri=miguelgfierro&amp;loc=en_US">Subscribe</a>
          </li>
          <form action="/search" method="GET" class="navigation-bar-search">
            <input class="navigation-bar-search-input" type="text" placeholder="Search..." name="q">
            <button type="submit" class="navigation-bar-search-icon"></button>
          </form>
        </ul>
      </nav>
    </div>
  </div>

</header>
{% block content %} {% endblock %}
</body>

</html>